body
{
	/*font-family: 'Bubbler One', sans-serif;*/
	font-family: 'Bellefair', serif;
	font-size: 16px;
}
.m50
{
	margin-top: 50px;
}
.border
{
	border: 2px red solid;
}
/*------------------------------------------
  navbar
--------------------------------------------*/
	nav.navbar
	{
		background: #303840;
		margin-bottom: 150px;
		border: 0;
		font-size: 20px;
	}

	img.logo-navbar
	{
		
		display: inline-block;
		width: 70px;
		height: 50px;
	}
	a.active
	{
		background-color: transparent;
	}
	a.navbar-brand
	{
		/*background: #E75128;*/
		width: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
/*------------------------------------------
  page view accessoire
--------------------------------------------*/
	.admin
	{
	    background: #fff;
	    padding: 50px;
	    border-radius: 10px;
	}
	.help-inline
	{
	    color: red;
	}

/*------------------------------------------
  general
--------------------------------------------*/
	#page
	{
		margin-bottom: 120px;
	}
	.content
	{
		border: 1px #90908F solid;
		background: #FFFFFF;
		box-shadow: 0px 1px 15px #90908F;
		border-radius: 3px;
		padding: 20px;
		text-align: justify;
	}
	.container-fluid.header
	{
		
		height: 260px;
		margin-top: 50px;	
		background: #00A9C7;
	
	}
	header
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		border: 2px blue solid;
		margin: auto;
		height: 260px;
		
	}
	
	h1.texte-header
	{
		
		font-size: 40px;
		color: #E5E5E5;
		font-family: 'Holtwood One SC', serif;
		width: 60%;
		text-align: center;
		
		


	}
	img.logo-macky
	{
		display: inline-block;
		width: 10%;

	}
	aside.aside-principal
	{
		border-left: 1px #90908F solid;
		padding-left: 20px;
	}
	img.icon-logiciel
	{
		display: inline-block;
		width: 150px;
	}
	.articles-logiciel
	{
		display: flex;
		align-items: center;
		margin-right: 10px;
	}
	span.date-poste
	{
		color: #B0ACAC;
		font-style: italic;
		font-size: 12px;
	}
	span.nbr-comment
	{
		color: #B0ACAC;
		font-style: italic;
		font-size: 12px;
	}
	div.span-detail
	{
		display: flex;
		justify-content: flex-end;
	}
/*------------------------------------------
  index
--------------------------------------------*/
	.tag
	{
		border-radius: 5px;
		width: 40px;
		height: 17px;
		background: #E75128;
		margin-bottom: 10px;
	}
	
	
	p.p-header
	{
		font-size: 40px;
		color: #E5E5E5;
		width: 80%;
		text-align: justify;
	}
	img.img-header
	{
		display: inline-block;
		width: 35%;
	}
/*------------------------------------------
  Editeur de text WYSIWYG
--------------------------------------------*/
	#editeur
	{
    width: 500px; /* La largeur de l'éditeur*/
    height: 200px; /* La hauteur de l'éditeur*/
    border: 1px solid black; /* Une bordure pour bien voir l'éditeur*/
    padding: 5px; /* Une petite marge intérieure*/
    overflow: auto; /* Cette propriété sert à envoyer le texte à la ligne au cas où il dépasse la largeur définie avant*/
	}
/*------------------------------------------
  Footer
--------------------------------------------*/
	#footer
	{
		/*position: fixed; pour que le footer soit toujours visible*/
		bottom: 0;
		height: 80px;
		width: 100%;
		background: #00A9C7;

	}

	